* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.postCard{
  display: flex;
  height: 15vh;
  font-size: 10px;
  margin:2% ;
  box-shadow: 5px 5px 20px;
}
.image{
  display: flex;
  width: 25vw;
  height: 100%;
  align-items: center;
  background-color: rgb(235, 230, 230);
}
.image img{
  width: 100%;
  max-height: 100%;
}
.info{display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75vw;
  height: 100%;
  padding: 2%;
  background-color: white;
}
.infoUser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{
  font-size: larger;
  margin-bottom: 1vh;
  width: 65vw;

}
.content{
  height: 30%;
}
.mainThread{
  background-color: rgb(206, 199, 199);
  height: 100vh;

}
.notMainthread{
  background-color: rgb(206, 199, 199);
  height: 100vh;
  opacity:0;
 
}
.annonce{
  margin-top: 11vh;
}
.tittleTop{
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  position:fixed;
  margin-top: -11vh;
  box-shadow: 5px 5px 20px;


}
.menuLogo{
  display: flex;
  justify-content: center;
  width: 20vw;
  max-height: 100%;
  background-color: white;
}
.menuLogo img{
  max-width: 60%;
  max-height: 100%;
}

.tittle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color: white; 
}
.tittle p{
  color:rgb(245, 93, 6);
  font-size:24px ;
  
}
.logo {
  width: 20vw;
}
.logo img{
  max-width: 100%;
  max-height: 100%;
}
.menu{
  position:  fixed;
  width: 100vw;
  height: 90vh;
  background-color: red;
  transition-duration: 1.5s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 26px;
}
#specialites{
  background-color: yellow;
  width: 75vw;
  border: 3px solid black;
  padding: 0.5em;
  border-radius: 0 50% 50% 0 ;
}
.invisibleMenu{
	margin-left: -100%;
  opacity: 0;
  margin-right: 100vw;
  position: absolute;
}